@font-face {
  font-family: gotham;
  src: url(../../../fonts/GothamRounded-Book.otf);
}

@font-face {
  font-family: Mont;
  src: url(../../../fonts/Mont-Heavy.otf);
}

.dataText {
  font-family: "Nunito", sans-serif;
  color: #868b8b;
  font-weight: bold;
  display: block;
  font-size: 8px;
}

.footer {
  background-color: white;
  font-family: Mont;
  overflow: hidden;
}

.mediaPictoFixed {
  width: 80px;
  margin-right: 20px;
  display: block;
  margin: auto;
}

.columnMiddleContainerFooter {
  display: 'flex';
  flex-direction: 'row';
  justify-content: 'space-around';
}

@media (max-width:768px) {
  .text {
    font-family: gotham;
    font-weight: bold;
    font-size: 80%;
  }
  
  .footer {
    margin-bottom: 82px;
  }

  .textDown {
    font-size: 10px;
  }

  .dataText {
    font-size: 6px;
  }


  .logoTopContainer {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
  }

  .mediaPictoFixed {
    width: 60px;
  }
}

@media (min-width:768px) {
  .text {
    font-family: gotham;
    font-weight: bold;
    font-size: 150%;
  }
  
  .logoTopContainer {
    display: flex;
    flex-direction: 'row';
    justify-content: 'space-beteween';
    min-width: 150px;
    max-width: 350px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .mediaPicto {    
    width: -webkit-fill-available !important;
    margin-right:  20px;
  }
}


  .line {
    width: 2px;
    background-color: #FC9254;
    margin-left: 2px;
    margin-right: 2px;
  }

.textDown {
  font-family: "Nunito", sans-serif;
  color: #868b8b;
  font-weight: bold;
  text-align: center;
  margin-top: 5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  display: block;
  padding-bottom: 24px;
}

.basicLink {
  color: black;
  text-decoration: none;
}