.weatherTitle {
  font-family: mont;
  font-size: 35px;
  margin-top: 6%;
  color: #283d47;
}

@media (max-width:768px) {
  .weatherTitle {
    text-align: center;
    font-family: mont;
    font-size: 22px;
    color: #283d47;
    display: block;
  } 
}
